.logo{
    background-image: url("../img/logotipo-preto.png");
    background-repeat: no-repeat;
    display:block;
    width: 120px;
    height: 53px;
    margin: 0;
    text-indent: -9999px;
}

.logo--branco{
    background-image: url("../img/logotipo-branco.png");
    background-repeat: no-repeat;
}